# A name for the simulation
Simulation_Name = SampleDTN

# Number of simulations
No_of_Simulations = 1

# Time for actual simulation in Hours. It is different from the time 
# in simulator screen.
Simulation_Time = 1

# Map is the file exported from openstreetmap.org in .osm format
Map = maps/manhattan.osm

# Report_Directory is the location for the simulation result files.
Report_Directory = logs/

# GUI_Enabled is the mode in which the simulator should run.
# It can have two values 'True' and 'False'
# If the value is 'False' the simulator will be more faster
GUI_Enabled = True

# Path_Types represent different types of paths are available in
# the map. For example, there are roads which are highways through
# which any vehicle can go. Two-wheeler ways in which only two-wheelers
# can go. 
Path_Types = [motorway:12, trunk:11, primary:10, secondary:9, tertiary:8, unclassified:7, residential:6, service:5, living_street:4, pedestrian:3, cycleway:2, footway:1]

# Random_Msg_Gen_Parameter is the parameters for generating radom
# messages in the sensors(stationary nodes). The first argument
# represents the maximum number of messages that is generated in the
# interval, which is provided as the second argument. [100, 1] means 
# 100 messages in 1 hr.
Random_Msg_Gen_Parameter = [100, 1]

# No_of_Hosts_Groups define the number of node groups in the simulation.
# For each of the node group we can define the parameters for each of them.
No_of_Hosts_Groups = 2

{
    # Group_ID is a unique ID for the group
    Group_ID = Class1
    
    # Label is the label given for a node. It is used for numbering the nodes.
    # It should also be unique, so that we can uniquely identify nodes in
    # each group.
    Label = TwoWheeler

    # Paths represent through which of the paths (defined in the
    # Path_Types attribute), the hosts in this group can travel.    
    Paths = [3, 4, 5, 7]

    # No_of_Hosts define the number of nodes in this group
    No_of_Hosts = 5

    # TX_Range defines the Transmission Range for each of the nodes
    # in this group. It should be in meter(m)
    TX_Range = 10m

    # Buffer_Size represent the size of buffer in each of the hosts.
    # We can give units K, M and G
    Buffer_Size = 1000M

    # Speed represents the speed of the mobile node in km/hr
    Speed = 15

    # Mean number of messages/events generated per hour
    Events = 4

    # Event life time in seconds
    Event_Life = 10    

    # Mobile parameter specifies whether the defined node is mobile or
    # stationary.
    Mobile = True
    
    # Movement specifies the type of movement the node can take through
    # the map.
    #Movement = SimpleRandomMovement
    #Movement = PathMemoryMovement
    Movement = PathTypeMovement
    # The delay occur at juctions in seconds
    Junction_Delay = 0

    # No_of_Trips specifies how many trips the node should complete
    # during the simulation.
    #No_of_Trips = 10000

    # Color attribute is for GUI, for identifying this group of nodes.
    Color = red

    # Protocol specifies the data collection and handoff strategies
    # defined in the simulator.
    # Protocol = DepositHandoff
    Protocol = EpidemicHandoff
}

{
    Group_ID = Class2
    Label = FourWheeler
    Paths = [3, 4, 12]
    No_of_Hosts = 3
    TX_Range = 10m
    Buffer_Size = 1000M
    Speed = 20
    Events = 2
    Event_Life = 10
    Mobile = True
    #Movement = SimpleRandomMovement
    Movement = PathTypeMovement
    #Movement = PathMemoryMovement
    Junction_Delay = 0
    #No_of_Trips = 10000
    Color = black
    #Protocol = DepositHandoff
    Protocol = EpidemicHandoff
}

{
    Group_ID = Class0
    Label = Sensor
    No_of_Hosts = 10
    TX_Range = 10m
    Buffer_Size = 200M 
    Mobile = False
    Events = 3
    Event_Life = 10
    Movement = Stationary
    Color = yellow
    Protocol = EpidemicHandoff
}



